<% content_for :head do %>
    <%= javascript_include_tag "fees_detail" %>
<% end %>

<section class="main-content">
  <div class="container">
    <div class="clearfix">
    </div>
    <br />
    <div class = "row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div id="fees_detail_List"></div>
      </div>
    </div>
  </div>
</section>

<!-- Modal -->
<div class="modal fade" id="feesdetailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content"></div>
  </div>
</div>

