<% content_for :head do %>
  <%#= stylesheet_link_tag"modal_pop.css", "typeahead.css" %>
  <%= javascript_include_tag "user" %>
<% end %>


<section class="main-content">
  <div class="container">
    <div class="clearfix">
    </div>
      <br />
      <div class="row">
        <a data-toggle="modal" href="/users/new" data-target="#userModal" clas="new-icon">New</a>
      </div>
      <div class = "row">
        <div class="col-lg-10 col-md-10 col-sm-10">
          <div id="userList"></div>
        </div>
      </div>
    </div>
</section>


<!-- Modal -->
<div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>

