<% content_for :head do %>
  <script type="text/javascript">
    var class_list_id = "<%= params.try(:[],'id')%>"
  </script>
  <%= javascript_include_tag "class_info" %>
<% end %>

<section class="main-content">
  <div class="container">
    <div class="clearfix">
      <div id="example" class="k-content">
        <div class="panel-container">

           <div id="tabstrip">
            <ul>
              <li class="k-state-active dynamic-content">
                Subject Info
              </li>
              <li class="dynamic-content">
                Exam Info
              </li>
              <li class="dynamic-content">
                Student Info
              </li>
              <li class="dynamic-content">
                Staff Info
              </li>
            </ul>
            <div class="row panel-block">
              <div class="row">
                <a data-toggle="modal" href="#" clas="new-icon" onclick="openModal('/subjects/new','#classInfoModal')">New</a>
              </div>
              <div id="subInfo"></div>
            </div>
            <div class="row panel-block">
              <div class="row">
                <a data-toggle="modal" href="#" clas="new-icon" onclick="openModal('/subjects/new','#classInfoModal')">New</a>
              </div>
              <div id="examInfo"></div>
            </div>
            <div class="row panel-block">
              <div id="studentInfo"></div>
            </div>
            <div class="row panel-block">
              <div id="staffInfo"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Modal -->
<div class="modal fade" id="classInfoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content"></div>
  </div>
</div>


