<% content_for :head do %>
  <%= javascript_include_tag "board_type" %>
<% end %>

<section class="main-content">
  <div class="container">
    <div class="clearfix">
    </div>
      <br />
      <div class="row">
        <a data-toggle="modal" href="#" clas="new-icon" onclick="openModal('/board_types/new','#boardtypeModal')">New</a>
      </div>
      <div class = "row">
        <div class="col-lg-10 col-md-10 col-sm-10">
          <div id="board_type_List"></div>
        </div>
      </div>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="boardtypeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content"></div>
  </div>
</div>

