<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>Krishnaveni Ammal College of Education
    <a class="navbar-brand" href="index.html"></a>
  </div>
  <!-- /.navbar-header -->

  <!-- /.dropdown-tasks -->
  </li>
  <!-- /.dropdown -->

  <!-- /.dropdown -->
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
    </a>
    <ul class="dropdown-menu dropdown-user">
      <% if current_user %>
          <li>
            <a href="/profiles"><i class="fa fa-fw fa-user"></i> Profile</a>
          </li>
          <li>
            <a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
          </li>
          <li class="divider"></li>
          <li>
            <%= link_to "Logout", destroy_user_session_path, method: :delete %>
          </li>
      <% else %>
          <li>
            <%= link_to "Login", new_user_session_path, method: :get %>
          </li>
      <% end %>
    </ul>
    <!-- /.dropdown-user -->
  </li>
  <!-- /.dropdown -->
  </ul>
  <!-- /.navbar-top-links -->

  <div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
      <ul class="nav" id="side-menu">
        <li class="sidebar-search">
          <div class="input-group custom-search-form">
            <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                  <i class="fa fa-search"></i>
                                </button>
                            </span>
          </div>
          <!-- /input-group -->
        </li>
        <li>
          <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
        </li>
        <li>
          <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Student<span class="fa arrow"></span></a>
          <ul class="nav nav-second-level">
            <li>
              <a href="/students">Student List</a>
            </li>
            <li>
              <a data-toggle="modal" href="#" onclick="openModal('/users/new?profile_type=student','#userModal')">Add
                Student</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Salary/Payment Details<span class="fa arrow"></span></a>
          <ul class="nav nav-second-level">
            <li>
              <a href="/staffs/mark_list">Salary List</a>
            </li>
            <li>
              <a href="/staffs">Payslip Pdf</a>
            </li>
            <li>
              <a data-toggle="modal" href="#" onclick="openModal('/users/new?profile_type=student','#userModal')">Add
                Student Payment</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="/class_lists">Class List</a>
        </li>
        <li>
          <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Staff<span class="fa arrow"></span></a>
          <ul class="nav nav-second-level">
            <li>
              <a href="/staffs/mark_list">Manage Mark</a>
            </li>
            <li>
              <a href="/staffs">Staff List</a>
            </li>
            <li>
              <a data-toggle="modal" href="#" onclick="openModal('/users/new?profile_type=staff','#userModal')">Add
                Staff</a>
            </li>
          </ul>
        </li>


      </ul>
    </div>
    <!-- /.sidebar-collapse -->
  </div>
  <!-- /.navbar-static-side -->
</nav>
<div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    </div>
  </div>
</div>